*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --text-color: #696d76;
    --white-color: #ffffff;
    --primary-color: #7264d6;
    --secondary-color: #212832;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn-lg,
.btn-sm {
    display: inline-block;
    flex-shrink: 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 6px;
    color: var(--white-color);
    transition: 0.25s ease;
}

.btn-lg:hover,
.btn-sm:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn-sm {
    padding: 12px 28px;
}

.btn-lg {
    padding: 15px 30px;
}

.btn-primary {
    background: var(--primary-color);
}

.btn-secondary {
    background: var(--secondary-color);
}

.section-label {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--text-color);
}

.section-label::before {
    display: inline-block;
    margin-right: 12px;
    content: "";
    width: 18px;
    height: 2px;
    background: #696d77;
}

.section-title {
    margin-top: 12px;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    color: var(--secondary-color);
}

.section-desc {
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
}

/* Header */
.header {
    padding-top: 34px;
    background: var(--white-color);
}

.header.fixed {
    position: sticky;
    top: -34px;
    z-index: 1;
}

.header__row {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.navbar {
    margin-left: 70px;
}

.navbar__list {
    display: flex;
}

.navbar__item:hover {
    position: relative;
}

.navbar__item:hover .navbar__link {
    text-shadow: 1px 0 0 var(--secondary-color);
    color: var(--secondary-color);
}

.navbar__item:hover:hover::after {
    position: absolute;
    display: inline-block;
    content: "";
    left: 50%;
    bottom: 0;
    width: 50%;
    height: 1.5px;
    border-radius: 0.5px;
    background: var(--primary-color);
    transform: translateX(-50%);
}

.navbar__item--active {
    position: relative;
}

.navbar__item--active .navbar__link {
    text-shadow: 1px 0 0 var(--secondary-color);
    color: var(--secondary-color);
}

.navbar__item--active::after {
    position: absolute;
    display: inline-block;
    content: "";
    left: 50%;
    bottom: 0;
    width: 50%;
    height: 1.5px;
    border-radius: 0.5px;
    background: var(--primary-color);
    transform: translateX(-50%);
}

.navbar__link {
    padding: 0 24px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--text-color);
}

.action {
    margin-left: auto;
}

.action__link {
    margin-right: 28px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    color: var(--secondary-color);
}

/* Hero */
.hero {
    padding-top: 38px;
    padding-bottom: 80px;
}

.hero__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 46%;
}

.hero__title {
    font-size: 6rem;
    line-height: 1.17;
}

.hero__title strong {
    color: var(--primary-color);
}

.hero-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 8px;
    width: 100%;
    height: 74px;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero-form__input {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    outline: none;
    border: none;
}

.hero__commitment {
    margin-top: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    color: var(--text-color);
}

.hero__media {
    position: relative;
    width: 49%;
}

.hero__media-wrap {
    margin-left: 100px;
    width: 296px;
    height: 562px;
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-deposite {
    position: absolute;
    display: flex;
    align-items: center;
    top: 113px;
    left: 0;
    padding: 14px 10px;
    width: 174px;
    border-radius: 6px;
    user-select: none;
    background: var(--white-color);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.card-deposite__name {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    color: #31456a;
}

.card-deposite__money {
    margin-left: 20px;
    font-size: 1.4rem;
    line-height: 1;
    color: #4ab5e3;
}

.card-secure {
    position: absolute;
    display: flex;
    align-items: center;
    left: 346px;
    bottom: 61px;
    padding: 20px 14px;
    width: 124px;
    border-radius: 10px;
    user-select: none;
    background: #439f90;
}

.card-secure__info {
    margin-left: 12px;
    color: var(--white-color);
}

.card-secure__money {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.card-secure__name {
    margin-top: 5px;
    font-size: 0.8rem;
    line-height: 1;
    text-transform: uppercase;
}

.card-interest {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 127px;
    right: 0;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    user-select: none;
    background: #da6464;
    color: var(--white-color);
}

.card-interest__percent {
    font-size: 4.4rem;
    font-weight: 600;
}

.card-interest__name {
    font-size: 1.6rem;
    line-height: 1.38;
}

/* Work */
.work {
    padding: 80px 0;
}

.work__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work__media {
    position: relative;
    width: 49%;
    flex-shrink: 0;
}

.word__img-wrap {
    position: relative;
    width: 470px;
    height: 619px;
}

.word__img-gb {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
}

.word__img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
}

.card-bank {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 76px;
    right: 162px;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: var(--primary-color);
}

.card-bank__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: var(--white-color);
}

.card-congrats {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 10px;
    right: 0;
    bottom: 96px;
    padding: 15px;
    width: 226px;
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.card-congrats__icon-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #4ab5e3;
    border-radius: 6px;
    background: #4ab5e3;
}

.card-congrats__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--white-color);
}

.card-congrats__info {
    font-family: "Inter", sans-serif;
}

.card-congrats__title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.21;
    color: var(--secondary-color);
}

.card-congrats__desc {
    margin-top: 5px;
    font-size: 1.2rem;
    line-height: 1.21;
    color: var(--text-color);
}

.work__content {
    width: 41%;
}

.work__list {
    margin-top: 70px;
}

.work-item {
    margin-bottom: 28px;
}

.work-item:last-child {
    margin-bottom: 0;
}

.work-item__title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
    color: var(--secondary-color);
}

.work-item__desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--text-color);
}

/* Feature */
.feature {
    padding: 80px 0;
}

.feature__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__content {
    width: 41%;
}

.feature__list {
    margin-top: 28px;
    margin-bottom: 38px;
}

.feature__item {
    margin-bottom: 18px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--secondary-color);
}

.feature__item::before {
    display: inline-block;
    content: "";
    margin-right: 12px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
}

.feature__item:last-child {
    margin-bottom: 0;
}

.feature__media {
    position: relative;
    display: flex;
    align-items: center;
    width: 49%;
}

.feature__img-wrap {
    width: 482px;
    height: 322px;
}

.feature__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-send {
    font-family: "Inter", sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    top: -48px;
    right: 0;
    padding: 23px 13px;
    width: 276px;
    border-radius: 12px;
    user-select: none;
    background: var(--white-color);
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.card-send__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background: rgba(218, 100, 100, 0.1);
    box-shadow: 4px 2px 16px 0px rgba(136, 165, 191, 0.48);
}

.card-send-title {
    margin-left: 14px;
}

.card-send-title__name {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.21;
    color: var(--secondary-color);
}

.card-send-desc {
    margin-left: auto;
}

.card-send-desc__money {
    font-size: 1.6rem;
    line-height: 1.21;
    color: var(--secondary-color);
}

.card-send__text {
    margin-top: 4px;
    font-size: 1rem;
    line-height: 1.21;
    color: var(--text-color);
}

.card-income {
    position: absolute;
    right: 0;
    bottom: -55px;
    padding: 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    user-select: none;
    color: var(--white-color);
    background: #439f90;
}

.card-income__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background: var(--white-color);
}

.card-income__title {
    margin-top: 14px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.36;
}

.card-income__money {
    margin-top: 6px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.36;
}

/* Feature 2 */
.feature-2__img-wrap {
    position: relative;
    width: 470px;
    height: 600px;
}

.feature-2__img-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.feature-2__img {
    position: absolute;
    left: 28px;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.card-money {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 288px;
    right: 0;
    width: 90px;
    height: 90px;
    z-index: 1;
    border-radius: 50%;
    background: var(--primary-color);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.1);
}

.card-payment {
    position: absolute;
    right: 26px;
    bottom: 57px;
    padding: 28px;
    width: 281px;
    border-radius: 10px;
    background: var(--white-color);
    box-shadow: 0px 44px 48px 0px rgba(0, 0, 0, 0.1);
}

.card-payment {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--secondary-color);
}

.card-payment__img-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    margin-top: 20px;
}

/* Testimonial */
.testimonial {
    padding: 80px 0;
}

.testimonial__row {
    text-align: center;
}

.testimonial__label {
    justify-content: center;
}

.testimonial__desc {
    margin-left: auto;
    margin-right: auto;
    width: 435px;
    font-size: 1.6rem;
}

.testimonial__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}

.testimonial-item:first-child .testimonial-item__avatar-wrap {
    background: #4ab5e3;
}

.testimonial-item__quote {
    position: relative;
    padding: 42px 28px;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;
    border: 1px solid #dfe2e8;
    border-radius: 8px;
    color: var(--text-color);
    background: var(--white-color);
}

.testimonial-item__quote::after {
    position: absolute;
    content: "";
    left: 49%;
    bottom: -51px;
    width: 60px;
    height: 60px;
    border: solid 1px;
    border-radius: 0 0 6px 0;
    border-color: transparent #dfe2e8 #dfe2e8 transparent;
    rotate: 45deg;
    background: var(--white-color);
    transform: translateX(-50%);
}

.testimonial-item__quote:hover {
    cursor: default;
    border-color: transparent;
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.testimonial-item__quote:hover::after {
    border-color: transparent;
}

.testimonial-item__info {
    margin-top: 96px;
}

.testimonial-item__avatar-wrap {
    display: inline-block;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #439f90;
}

.testimonial-item__avatar {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.testimonial-item__name {
    margin-top: 20px;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    color: #070052;
}

.testimonial-item__desc {
    margin-top: 2px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
}

.testimonial__rectangles {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    margin-top: 38px;
}

.testimonial__rectangle {
    width: 22px;
    height: 6px;
    border: 1px solid #9b9fab;
}

.testimonial__rectangle:hover:not(.testimonial__rectangle--active) {
    cursor: pointer;
}

.testimonial__rectangle.testimonial__rectangle--active {
    background: var(--primary-color);
}

/* Blog */
.blog {
    padding: 80px 0;
}

.blog__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__title {
    margin-top: 8px;
}

.blog__desc {
    margin-top: 18px;
    width: 435px;
    font-size: 1.6rem;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 70px;
}

.blog-item {
    display: flex;
    align-items: center;
    padding: 28px;
    border: 1px solid #dfe2e8;
    border-radius: 12px;
    background: var(--white-color);
}

.blog-item:hover {
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px #00000012;
}

.blog-item:hover .blog-item__link {
    color: var(--primary-color);
}

.blog-item__thumb {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.blog-item__body {
    margin-left: 22px;
}

.blog-item__time {
    font-size: 1.4rem;
    line-height: 24px;
    color: var(--text-color);
}

.blog-item__title {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 30px;
    color: var(--secondary-color);
}

.blog-item__link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 26px;
    color: var(--text-color);
}

/* Download */
.download {
    padding: 80px 0;
}

.download__group {
    padding: 50px 112px;
    text-align: center;
    border-radius: 24px;
    background: var(--primary-color);
}

.download__inner {
    position: relative;
    width: 100%;
    padding: 51px 0;
}

.download__label {
    justify-content: center;
    color: var(--white-color);
}

.download__label::before {
    background: var(--white-color);
}

.download__title {
    color: var(--white-color);
}

.download__desc {
    width: 453px;
    font-size: 1.6rem;
    color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
}

.download__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin-top: 38px;
}

.download__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 31px;
    border-radius: 6px;
    background: var(--white-color);
}

.download__img-decor:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
}

.download__img-decor:nth-of-type(2) {
    position: absolute;
    top: 0;
    right: 0;
}

.download__img-decor:nth-of-type(3) {
    position: absolute;
    left: 54px;
    bottom: 0;
}

.download__img-decor:nth-of-type(4) {
    position: absolute;
    right: 54px;
    bottom: 0;
}

/* Footer */
.foot {
    margin-top: 20px;
    padding-top: 100px;
    background: #fafbff;
}

.foot__row {
    display: grid;
    grid-template-columns: auto auto auto 1fr;
    column-gap: 163px;
}

.foot__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    color: var(--secondary-color);
}

.foot__desc {
    margin-top: 24px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
}

.foot__list {
    margin-top: 24px;
}

.foot__link {
    font-size: 1.8rem;
    line-height: 1.9;
    color: var(--text-color);
}

.foot__link:hover {
    text-decoration: underline;
}

.foot-form__wrap {
    margin-top: 48px;
}

.foot-form {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.foot-form__input {
    padding: 12px;
    width: 270px;
    height: 52px;
    font-family: Open Sans;
    font-size: 1.6rem;
    line-height: 1.75;
    border: 1px solid #8e919a;
    border-radius: 6px;
    outline: none;
    color: var(--text-color);
}

.foot-contact {
    display: flex;
    align-items: center;
    column-gap: 100px;
    margin: 54px 0 28px;
}

.foot-contact__title {
    font-size: 1.8rem;
    line-height: 1.67;
    color: var(--text-color);
}

.foot-contact__link {
    margin-left: 6px;
    text-decoration: underline;
    color: var(--text-color);
}

.foot__copyright {
    padding: 28px 0;
    text-align: center;
    background: var(--primary-color);
}

.foot__copyright-text {
    font-size: 1.6rem;
    line-height: 1.75;
    color: var(--white-color);
}
